# Virtual Environment
.env/
venv/
*.venv/
.envrc

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Ansible
*.retry
*.log
ansible-navigator.log
.ansible/
ansible/cache/

# Geheimnisse
.vault_pass
secrets/
*.secret
*.key
*.pem

# Cache
__pycache__/
*.pyc
