[defaults]
inventory = ansible/inventory/production/hosts.yml
roles_path = ansible/roles:roles
remote_user = ansible
private_key_file = ~/.ssh/ansible_key
host_key_checking = False
interpreter_python = auto_silent
roles_path = roles:../roles
retry_files_enabled = False
lookup_plugins = ansible/plugins/lookup

[privilege_escalation]
become_method = sudo
become_user = root
become_ask_pass = False

[lint]
yamllint_config = .yamllint
ansible_lint_config = ansible/.ansible-lint  