PAPERLESS_REDIS=redis://{{ paperless_redis_host }}:{{ paperless_redis_port }}
PAPERLESS_DBENGINE=django.db.backends.postgresql
PAPERLESS_DBHOST=
PAPERLESS_DBPORT=
PAPERLESS_DBNAME={{ paperless_db_name }}
PAPERLESS_DBUSER={{ paperless_db_user }}
PAPERLESS_DBPASS=

PAPERLESS_CONSUMPTION_DIR=../consume
PAPERLESS_DATA_DIR=../data
PAPERLESS_TRASH_DIR=../trash
PAPERLESS_MEDIA_ROOT=../media
PAPERLESS_STATICDIR=../static
PAPERLESS_FILENAME_FORMAT={created_year}/{correspondent}/{title}

PAPERLESS_CONSUMER_POLLING=10

PAPERLESS_SECRET_KEY={{ paperless_secret_key }}

PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_language }}
PAPERLESS_TIME_ZONE={{ paperless_time_zone }}